<!DOCTYPE html>
<html>
<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
    <title>My Recipe Book Gallery</title>
</head>
<body>

<div class="gallery">
    <a target="_blank" href="https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/1532533774/baltimore-style-crab-cakes-XL-RECIPE0918.jpg?itok=L79mHuu0">
        <img src="https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/1532533774/baltimore-style-crab-cakes-XL-RECIPE0918.jpg?itok=L79mHuu0" alt="" width="600" height="400">
    </a>
    <div class="desc"><a href="/CrabCakes">Crabcake Recipe</a></div>
</div>

<div class="gallery">
    <a target="_blank" href="https://live.staticflickr.com/2125/2255557633_1f30e367c9_b.jpg">
        <img src="https://live.staticflickr.com/2125/2255557633_1f30e367c9_b.jpg" alt="" width="600" height="400">
    </a>
    <div class="desc"><a href="/Waffles">Belgian Waffles Recipe</a></div>
</div>

<div class="gallery">
    <a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/a/a5/Tiramisu-romanian.jpg">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Tiramisu-romanian.jpg" alt="" width="600" height="400">
    </a>
    <div class="desc"><a href="/tiramisu">Tiramisu Recipe</a></div>
</div>

</body>
</html>