<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homemade Tiramisu Recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/myCss.css">
</head>
<body>
<h1>Tiramisu Recipe</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Tiramisu-romanian.jpg" alt="" style="width:500px;height:300px;">

<h2>Ingredients</h2>
<ul>
    <li>4 large egg yolks</li>
    <li>1/2 cup granulated sugar</li>
    <li>1/3 cup Marsala wine</li>
    <li>16 ounces mascarpone cheese</li>
    <li>1 cup heavy cream</li>
    <li>2 cups brewed espresso*</li>
    <li>3 tablespoons coffee liqueur or brandy</li>
    <li>3 tablespoons powdered sugar</li>
    <li>48 Savoiardi ladyfingers</li>
    <li>2 teaspoons unsweetened cocoa powder (for garnish)</li>
    <li>*Or 2 cups hot water mixed with 3 tablespoons instant espresso powder.</li>
</ul>


<h2>Directions:</h2>
<p>Place the egg yolks, sugar, and Marsala in a large metal mixing bowl, and set it over a pot of simmering water.
    Cook, whisking, until the mixture is pale, thick, and doubled in volume (about 5 minutes).
    Remove from the heat, and whisk in the mascarpone.
    Whip the cream until it holds stiff peaks.
    Fold the whipped cream into the mascarpone mixture.<br>
    Set the filling aside.
    Whisk the espresso, liqueur, and powdered sugar together in a shallow dish.
    One at a time, dip the ladyfingers into the espresso mixture and arrange in an even layer in the bottom of a 9-inch by 13-inch pan. (Line the ladyfingers up in two straight rows of twelve.)
    Spread half the filling over the ladyfingers, and repeat.
    Spread the rest of the filling on top, dust with cocoa powder, and refrigerate for 8 hours.
</p>
<h2>Serves 12 people</h2>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
        <li class="nav-item active">
            <a class="nav-link" href="/CrabCakes">Crabcake Recipe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Waffles">Belgian Waffles Recipe</a>
        </li>
    </ul>
</nav>
<!--<h3>Other recipes found on the home page:</h3>-->
<!--<a href="/index">Home</a>-->
<!--<h3>Or directly below:</h3>-->
<!--<a href="/CrabCakes">Crabcake recipe</a><br>-->
<!--<a href="/Waffles">Belgian Waffles recipe</a><br>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>